[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
[submodule "source/lib/Han"]
	path = source/lib/Han
	url = https://github.com/theme-next/theme-next-han
